/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 avr. 2018, 15:52:23
    Author     : eborghino
*/

body{
    background-color: #d581a1;
}
#pinkRect{
    background-color: pink;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}
#innerPinkRect{
    padding-bottom: 5%;
    padding-top: 5%;
}

h1{
    font-size: 36px;
	font-family: Verdana;
	font-weight: bold;
	margin-top: 0;
}
header>h1{
    text-align: right;
    margin-right: 5%;
    margin-top: 1%;
}
h2{
    font-size: medium;
	margin-top: 0;
	margin-bottom: 10%;
}

#formconnexion{
	width: -moz-fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 5%;
}

#bouton-connexion{
	margin-top: 3vh;
}

#champsconnexion{
	margin-right: 1vh;
}

.inputLabel{
	display: block !important;
}

#message{
	margin-bottom: 5%;
}


/* INCRIPTION */
#centerRect{
    background-color: #c7c2c2;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 85vh;
    padding: 3%;
    position: relative;
}
#imgProfil{
    display: inline-block;
    float: left;
    width: 100%;
}
#forminscription{
    display: inline-block;
    padding-left: 3%;
}
#forminscription>.form-row{
    margin-bottom: 2%;
}
#civilite{
    padding: 10%;
}

#boutonDiv{
    text-align: right;
    margin-top: 5%;
}
#boutonDiv>button{
    margin: 1%;
}